.footer {
  color: $color-gray-light-1;
  background-color: $color-gray-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    height: 15rem;

    @include respond(phone) {
      height: 7rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      flex-direction: column;
    }
  }

  &__navigation {
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    flex: 0 0 45%;

    @include respond(tab-land) {
      flex: 0 0 80%;
      margin-bottom: 5rem;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    color: inherit;
    background-color: $color-gray-dark-3;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: scale(1.1) rotate(5deg) skewX(5deg);
    }
  }
  &__copyright {
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    flex: 0 0 45%;

    @include respond(tab-port) {
      flex: 0 0 80%;
    }
  }
}
